/************************* header *************************/
header {
    height: 110px;
    background-color: rgba(255, 255, 255, 1);
    letter-spacing: 3px;
    padding: 2px 10%;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box
}

h2 {
    letter-spacing: 5px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

h2 a {
    color: #4C5364;
}

a {
    text-decoration: none;
}

/************************* navbar *************************/
.navbar-link {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.navbar-link li {
    display: inline-block;
    padding: 6px 15px;
}

.nav-individual-link {
    color: #4C5364;
    display: inline;
    position: relative;
    padding: 5px;
    border-radius: 7px;
    transition: color 0.5s ease-in-out, box-shadow .5s ease-in-out;
}

.nav-individual-link:hover {
    border-radius: 7px;
    box-shadow: inset 200px 0 0 0 #4C5364;
    color: white;
}

/************************* changing sizes *************************/
@media (max-width:670px) {
    header {
        height: 140px;
    }
}