#header-bracket:before {
    border: 0px solid #879A5B;
    border-top: 3px solid #879A5B;
    border-left: 3px solid #879A5B;
    border-bottom: 3px solid #879A5B;
}

.bracket {
    border: 3px solid #879A5B;
}

.content h3 {
    border-bottom: 3px solid #879A5B;
}

.content h4 {
    background-color: #879A5B58;
    padding: 3px;
    width: max-content;
}

#sketches-slides .slides,
#sketches-slides .arrows {
    width: 350px;
}

#low-fidelity-slides .slides,
#low-fidelity-slides .arrows,
#high-fidelity-slides .slides,
#high-fidelity-slides .arrows,
#updated-high-fidelity-slides .slides,
#updated-high-fidelity-slides .arrows,
#user-testing-slides .slides,
#user-testing-slides .arrows {
    width: 250px;
}

.dot {
    background-color: #879A5B58;
}

.active,
.dot:hover {
    background-color: #879A5B;
}

li span {
    background-color: #879A5B58;
}

/************************* links *************************/
p a {
    border-bottom: 3px solid #879A5B58;
}

p a:hover {
    border-bottom-color: #879A5B;
}

/************************ handles changes resizing changes ************************/

@media (max-width:572px) {

    #header-bracket,
    #header-bracket:before {
        height: 175px;
        margin-bottom: 50px;
    }
}