#header-bracket:before {
    border: 0px solid #ff9797;
    border-top: 3px solid #ff9797;
    border-left: 3px solid #ff9797;
    border-bottom: 3px solid #ff9797;
}

.bracket {
    border: 3px solid #ff9797;
}

.content h3 {
    border-bottom: 3px solid #ff9797;
}

/************************* persona images *************************/
#personas-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-persona {
    width: 450px;
    margin: 0px 20px 0px 20px;
}

.single-persona .figures {
    justify-content: left;
}

.persona-img {
    width: 450px;
    margin: 0px;
}

/************************* slideshows *************************/
#interface-slides .slides,
#interface-slides .arrows,
#storyboard-slides .slides,
#storyboard-slides .arrows {
    width: 500px;
}

.dot {
    background-color: #ff979758;
}

.active,
.dot:hover {
    background-color: #ff9797;
}

/************************* links *************************/
p a {
    border-bottom: 3px solid #ff979758;
}

p a:hover {
    border-bottom-color: #ff9797;
}

/************************ handles changes resizing changes ************************/

@media (max-width:680px) {

    #interface-slides .slides,
    #interface-slides .arrows,
    #storyboard-slides .slides,
    #storyboard-slides .arrows {
        width: 100%;
    }

}

@media (max-width:934px) {

    #header-bracket,
    #header-bracket:before {
        height: 175px;
        margin-bottom: 50px;
    }
}