#header-bracket:before {
    border: 0px solid #EEC170;
    border-top: 3px solid #EEC170;
    border-left: 3px solid #EEC170;
    border-bottom: 3px solid #EEC170;
}

.bracket {
    border: 3px solid #EEC170;
}

.content h3 {
    border-bottom: 3px solid #EEC170;
}


.single-figure {
    display: inline;
    margin: 5px;
    padding: 7px;
    text-align: center;
    height: min-content;
}

/************************* figures *************************/
.single-figure img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    vertical-align: middle;
}

.single-figure p {
    width: 100%;
    vertical-align: middle;
}

/************************* links *************************/
p a {
    border-bottom: 3px solid #EEC17058;
}

p a:hover {
    border-bottom-color: #EEC170;
}

/************************* table *************************/

.table-header {
    border: 2px solid #EEC170;
}

.table-cell {
    border: 2px solid #EEC170;
}

/************************* slideshow *************************/

#high-fidelity-tablet-slides .slides {
    width: 50%;
}

#high-fidelity-phone-slides .slides {
    width: 46%;
}

#high-fidelity-tablet-slides .arrows {
    width: 50%;
}

#high-fidelity-phone-slides .arrows {
    width: 46%;
}

.dot {
    background-color: #EEC17058;
}

.active,
.dot:hover {
    background-color: #EEC170;
}