#header-bracket:before {
    border: 0px solid #EEC170;
    border-top: 3px solid #EEC170;
    border-left: 3px solid #EEC170;
    border-bottom: 3px solid #EEC170;
}

.bracket {
    border: 3px solid #EEC170;
}

.content h3 {
    border-bottom: 3px solid #EEC170;
}


.single-figure {
    display: inline;
    margin: 5px;
    padding: 7px;
    text-align: center;
    height: min-content;
}

/************************* figures *************************/
.single-figure img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    vertical-align: middle;
}

.single-figure p {
    width: 100%;
    vertical-align: middle;
}

#style-guide {
    width: 400px;
}

/************************* links *************************/
p a {
    border-bottom: 3px solid #EEC17058;
}

p a:hover {
    border-bottom-color: #EEC170;
}

/************************* table *************************/

.table-header {
    border: 2px solid #EEC170;
}

.table-cell {
    border: 2px solid #EEC170;
}

/************************* slideshow *************************/

#low-fidelity-slides .slides,
#low-fidelity-slides .arrows,
#high-fidelity-web-slides .slides,
#high-fidelity-web-slides .arrows,
#annotations-slides .slides,
#annotations-slides .arrows {
    width: 750px;
}

#high-fidelity-tablet-slides .slides,
#high-fidelity-tablet-slides .arrows {
    width: 300px;
}

#high-fidelity-phone-slides .slides,
#high-fidelity-phone-slides .arrows {
    width: 200px;
}

.dot {
    background-color: #EEC17058;
}

.active,
.dot:hover {
    background-color: #EEC170;
}

/************************ handles changes resizing changes ************************/

@media (max-width:930px) {

    #low-fidelity-slides .slides,
    #low-fidelity-slides .arrows,
    #high-fidelity-web-slides .slides,
    #high-fidelity-web-slides .arrows,
    #annotations-slides .slides,
    #annotations-slides .arrows {
        width: 100%;
    }
}

@media (max-width:756px) {

    #header-bracket,
    #header-bracket:before {
        height: 175px;
        margin-bottom: 50px;
    }
}